html,body{
    color: #fff;
 
}
.lni{
    font-size: 64px;
}

.bg{
    
    background: linear-gradient(to right, #3c96ff 0%, #2dfbff 100%) !important;
}

.regform{
    box-shadow: 0px 8px 9px 0px rgba(69, 69, 69, 0.25);
}

.sign{
    color: #000;
}
